@model HRISApplication.Models.HealthCondition

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HealthCondition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HaveAhealthCondition" /> @Html.DisplayNameFor(model => model.HaveAhealthCondition)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IfYesExplain" class="control-label"></label>
                <input asp-for="IfYesExplain" class="form-control" />
                <span asp-validation-for="IfYesExplain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeOfHealthProblem" class="control-label"></label>
                <input asp-for="DegreeOfHealthProblem" class="form-control" />
                <span asp-validation-for="DegreeOfHealthProblem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenStarted" class="control-label"></label>
                <input asp-for="WhenStarted" class="form-control" />
                <span asp-validation-for="WhenStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilitaryNo" class="control-label"></label>
                <input asp-for="MilitaryNo" class="form-control" readonly value="@ViewBag.MilitaryNo" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model?.MilitaryNo">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
