@model HRISApplication.Models.Imprisonment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Imprisonment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Imprisoned" /> @Html.DisplayNameFor(model => model.Imprisoned)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                @* <span asp-validation-for="Place" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="ForHowLong" class="control-label"></label>
                <input asp-for="ForHowLong" class="form-control" />
                @* <span asp-validation-for="ForHowLong" class="text-danger"></span> *@
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conviction" /> @Html.DisplayNameFor(model => model.Conviction)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ExplainTheReason" class="control-label"></label>
                <input asp-for="ExplainTheReason" class="form-control" />
                @* <span asp-validation-for="ExplainTheReason" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="MilitaryNo" class="control-label"></label>
                <input asp-for="MilitaryNo" class="form-control" readonly value="@ViewBag.MilitaryNo" />
                <span asp-validation-for="MilitaryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
