@model HRISApplication.Models.Training

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingType" class="control-label"></label>
                <input asp-for="TrainingType" class="form-control" />
                <span asp-validation-for="TrainingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingCenter" class="control-label"></label>
                <input asp-for="TrainingCenter" class="form-control" />
                <span asp-validation-for="TrainingCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodFrom" class="control-label"></label>
                <input asp-for="PeriodFrom" class="form-control" />
                <span asp-validation-for="PeriodFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodTo" class="control-label"></label>
                <input asp-for="PeriodTo" class="form-control" />
                <span asp-validation-for="PeriodTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilitaryNo" class="control-label"></label>
                <input asp-for="MilitaryNo" class="form-control" readonly value="@ViewBag.MilitaryNo"/>
                <span asp-validation-for="MilitaryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
