@model IEnumerable<WordCount>

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-md" style="margin-top:50px">
            <div class="card" style="width: 50rem;">
                <div class="card-header">
                    <h4>BloodGroup Count</h4>
                </div>
                <canvas id="bloodGroupBarChart"></canvas>
            </div>
        </div>

        
    </div>

</div>



@section scripts {

    <script type="text/javascript">

      
        var bloodGroupCount = @Html.Raw(Json.Serialize(Model));
        
      
        var bloodGroupWords = bloodGroupCount.map(function (item) {

            return `${item.word}`;
        });

        var bloodGroupCounts = bloodGroupCount.map(function (item) {
            return `${item.count}`;
        });

        const bloodGroupData = {
            labels: bloodGroupWords,
            datasets: [{
                label: '# of BloodGroups',
                data: bloodGroupCounts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        };

      
        const bloodGroupBarChart = document.getElementById('bloodGroupBarChart');
       

     
        new Chart(bloodGroupBarChart, {
            type: 'bar',
            data: bloodGroupData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

 

    </script>

}