@model HRISApplication.Models.PersonalDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonalDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createPersonalDetail" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MilitaryNo" class="control-label"></label>
                <input asp-for="MilitaryNo" class="form-control" pattern="\w{1}\d{6}"  minlength="6" maxlength="6"/>
                <span asp-validation-for="MilitaryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input asp-for="ProfilePicture" hidden class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                <input asp-for="FormFile" type="file" class="form-control" formnovalidate />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SoldierRank" class="control-label"></label>
                <input asp-for="SoldierRank" class="form-control" />
                <span asp-validation-for="SoldierRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <input asp-for="BloodGroup" class="form-control" />
                 <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity" class="control-label"></label>
                <input asp-for="Ethnicity" class="form-control" />
                <span asp-validation-for="Ethnicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShieldNo" class="control-label"></label>
                <input asp-for="ShieldNo" class="form-control" />
                <span asp-validation-for="ShieldNo" class="text-danger"></span>
            </div>
            <div class="form-group form-radio">
             @*    <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> @Html.DisplayNameFor(model => model.Gender)
                </label> *@
                @Html.DisplayNameFor(model => model.Gender)

                @Html.RadioButtonFor(model => model.Gender, true, false)@Html.Label("Male")
                @Html.RadioButtonFor(model => model.Gender, false, false)@Html.Label("Female")
                <span asp-validation-for="Gender" class="text-danger"></span>
              
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                    <input asp-for="MaritalStatus" class="form-control" />
                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>

            <input asp-for="CreatedBy" hidden />
            <input asp-for="CreatedOn" hidden />
            <input asp-for="ModifiedBy" hidden />
            <input asp-for="ModifiedOn" hidden />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        const form = document.getElementById('createPersonalDetail');
        form.addEventListener('submit', (event) => {
            // Prevent the default form submission
            event.preventDefault();

            // Custom validation logic
            const fileInput = form.querySelector('input[type="file"]');
            if (fileInput.files.length === 0) {

                // Optionally, you can focus on the file input for user convenience:
                fileInput.focus();
                form.submit();
                //return; // Prevent form submission
            }
            form.submit();
            // If validation passes, you can submit the form:

        });
    </script>
}
